  *{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    body{
        background-color:grey ;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .heading{
        text-align: center;
        margin-bottom:10px;
    }
   
    .card{
        background-color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding:40px;
        border-radius: 20px;
        transition:0.3s;
    }
    .card p{
        font-size: 20px;
        font-weight: bold;
    }
    .btn{
        border-radius: 20px;
        font-size: 14px;
        font-weight: bold;
        padding:10px;
    }
    /* for the dark mode */

    .card.dark{
        background-color: #121212;
    }
    .card.dark{
        background-color:#1e1e1e;
        color:white;
    }
    /* for the dark btn */
